<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <%- include('partials/head'); %> 
    <title>Login</title>
    <!-- style sheet code -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- style sheet code ends -->
  </head>
  
  <body class="d-flex flex-column vh-100">
    <!-- Header Starts -->
    <%- include('partials/header'); %>
    <!-- Header Ends -->
    
    <!-- login form area starts -->
    <section id="thelogin">
      <div class="the-login-inner">
      <div class="container" style="width: 50%;">
        <h1 class="mt-3">LOGIN</h1>
        <% if(redirect) { %>
          <form action="/login?callback=<%=url%>" method="POST">
        <% } else { %>
          <form action="/login" method="POST">
        <% } %>
          <input type="email" name="email" class="form-control" placeholder="email" /><br />
          <input type="password" name="password" class="form-control" placeholder="password" /><br />
          <input type="submit" name="submit" id="button" class="btn" />
        </form>
      </div>
      </div> 
      </section>  
      <% if(!success) { if(error) %>
      <h4><%=errorMessage%></h4>
      <% } %>


    <!-- login form area ends -->


      <!-- footer starts -->
      <%- include('partials/footer'); %>
      <!-- footer ends -->
  </body>
</html>
